.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  /* padding: 10px; */
}

.product-list ul {
  margin: 5px;
  padding: 5px;
  width: 30%;
  /* height: 600px; */
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-list ul li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  /* height: 100%; */
  /* display: flex; */
  /* justify-content: space-around; */
}
.description {
  background-color: #eeeeee;
  height: 40%;
}

.heading {
  height: 30%;
}

ul li img {
  width: 30%;
}

.product-list .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 5px;
  background-color: white;
}
