.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  /* padding: 10px; */
  /* box-sizing: border-box; */
}

.product-list ul {
  margin: 5px;
  padding: 5px;
  width: 24%;
  /* height: 500px; */
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
}

.product-list ul li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  /* height: 100%; */
  /* display: flex; */
  /* justify-content: space-around; */
}
.description {
  background-color: #eeeeee;
  height: 30%;
  overflow: hidden;
}

.product-list ul li.heading {
  height: 25%;
}
.img {
  align-items: center;
  height: 35%;
}
ul li img {
  width: 50%;
  display: block;
  margin: auto;
  padding: 5px;
  box-sizing: border-box;
}

.product-list .footer_product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 5px;
  background-color: white;
}

/* for mobile */
@media screen and (max-width: 480px) {
  .product-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }
  .product-list ul {
    width: 100%;
  }
}

/* tablet */
@media screen and (max-width: 768px) and (min-width: 481px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
  }
  .product-list ul {
    width: 45%;
  }
}
