.cartIcon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px;
}

.cartIcon ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.cartIcon ul li {
  flex-basis: 20%;
  padding: 0px;
}

.cartIcon ul li a {
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
}

.image {
  background-color: #eeeeee;
  display: flex;
  padding: 4px;
}

.image img {
  width: 50px;
}
