.header {
  display: flex;
  align-items: center;

  justify-content: space-between;
  opacity: 0.8;
  height: 85px;
  /* position: fixed; */
  top: 0px;
  padding: 0;
  /* transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

  /* flex-wrap: wrap; */
}
.main-head {
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* margin-bottom: 20px; */
}
.navbar {
  display: flex;
  align-items: center;
}
.navbar img {
  height: 75px;
}
.navbar ul {
  list-style: none;
  display: block;
}

/* for mobile */
@media (max-width: 480px) {
  .navbar ul {
    display: none;
  }
  /* .header {
    height: 200px;
    display: flex;
    flex-direction: column;
  } */
}
