.categories {
  display: flex;
  min-height: 200px;
  width: 100%;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  text-align: center;
}
.col {
  width: 45%;
}

.col img {
  display: block;
  max-height: 100%;
  width: 50%;
  margin: auto;
}
.categories:last-child {
  box-shadow: none;
}
