.App {
  max-width: 100%;
}
.container {
  max-width: 90%;
  margin: auto;
}

/* for mobile */
@media screen and (max-width: 480px) {
  .header .navbar ul {
    display: none;
  }

  .categories {
    height: 300px;
    padding: 50px;
  }
  .landing {
    display: none;
  }
}
